h1 {
    text-align: center;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
}

.no-products-container {
    width: 100%;
    height: calc(var(--main-card-min-height) * 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-products-container h2 {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    color: var(--shadow-dark-dim);
}

/*
=====================================================
    Design for mobile
=====================================================
*/
@media screen and (max-width: 768px) {
    #cards-container {
        align-items: center;
    }

    .no-products-container h2 {
        /* Reduce font size to fit better on small screens */
        font-size: 2rem;
        letter-spacing: 0.2rem;
        /* Ensure text wraps if it's too long */
        text-align: center;
    }
}