<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="{% static 'management_app/css/base.css' %}">
        {% block css %}{% endblock %}
    </head>
    <body>
        <nav>
            <a href="{% url 'pos' %}">Vender</a>
            <a href="{% url 'products_list' %}">Inventario</a>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            {% if user.is_authenticated %}
                <form id="logout-form" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Salir</button>
                </form>
            {% endif %}
        </nav>
        <div id="main-card">
            {% block content%}
            {% endblock %}
        </div>

        <div class="custom-alert-overlay" id="customAlert">
            <div class="custom-alert-box">
                <h2 class="alert-title">Action Required</h2>
                <p class="alert-message">This is where the alert's detailed message will appear.</p>
                <div class="alert-buttons">
                    <button id="alertBtnConfirm" class="alert-btn alert-btn-confirm">Entendido</button>
                </div>
            </div>
        </div>
    </body>
    <script>
        function showAlert(title, message) {
            const customAlert = document.getElementById('customAlert');
            const alertTitle = customAlert.querySelector('.alert-title');
            const alertMessage = customAlert.querySelector('.alert-message');

            // Set the content
            alertTitle.textContent = title;
            alertMessage.textContent = message;

            // Show the alert
            customAlert.classList.add('active');

            // Example of how to handle button clicks
            const btnConfirm = document.getElementById('alertBtnConfirm');

            btnConfirm.onclick = () => {
                console.log("Confirmed!");
                customAlert.classList.remove('active');
            };
        }
    </script>
    {% block js %}{% endblock %}
</html>